<% # Clients of this partial must supply the following variables:
   # template
   # object_name
   # method
   # options %>

<% method_draw_tag = Rails::VERSION::MAJOR >= 4 ?
                     ActionView::Helpers::Tags::HiddenField.new(object_name, method, template, options.except(*MethodDraw::METHOD_DRAW_OPTIONS)) :
                     ActionView::Helpers::InstanceTag.new(object_name, method, template, options.delete(:object))

   options = {:id => method_draw_tag.send(:tag_id),
              :value => method_draw_tag.send(:value)}.merge(options) %>

<%= hidden_field_tag :locale, '', value: options[:data][:locale] %>

<%= render :partial => "method_draw/embed",
           :formats => :html,
           :locals => options.slice(*MethodDraw::OPTIONS) %>

<%= Rails::VERSION::MAJOR >= 4 ? method_draw_tag.render :
      method_draw_tag.to_input_field_tag("hidden", options.except(*MethodDraw::METHOD_DRAW_OPTIONS)) %>
